<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	
	<!-- Banner -->
	<div class="banner">
		<img class="medidasBanner" src="/images/banner.png" alt="Banner de ofertas">
	</div>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">News</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i=0; i<listaProducts.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%=listaProducts[i].id%> ">
						<figure class="product-box_image">
							<img src="<%=listaProducts[i].img%>" alt="Zapatillas de la base de datos sin foto">
						</figure>
						<article class="product-box_data">
							<h2><%=listaProducts[i].productName%></h2>
							<p><%=listaProducts[i].descripcion%></p>
							<p>Comments: <%=listaProducts[i].comentarios%></p>
						</article>
					</a>
				</section>
			</div>
			<%}%>

		</div>
	</div>

	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Most commented</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i=0; i<listaProducts.length; i++){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%=listaProducts[i].id%>">
							<figure class="product-box_image">
								<img src="<%=listaProducts[i].img%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%=listaProducts[i].productName%></h2>
								<p><%=listaProducts[i].descripcion%></p>
								<p>Comments: <%=listaProducts[i].comentarios%></p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
		</div>
	</div>


	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>