<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/header.ejs') %>

	<!-- product detail -->
	
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=product.productName%></h2> 
			<% if(locals.user && locals.user.id == product.user.id){ %> 
				<p class="product-detail-description">
					<a href="/product/editproduct/<%= product.id%>">Edit</a>
				</p>
				<form action="/product/delete/<%= product.id%>" method="POST" class="product-detail-description">
					<button type="submit">Delete</button>
					
				</form>
			<% } %> 
			
		</div>
		<div>
			<h2 class="products-title">Publicado por: <a href="/users/<%= product.user.id%>"><%= product.user.username%>  <i class="fas fa-user"></i></a></h2>
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=product.img%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=product.description%>
						</p>
				</article>
				<div class="col-12 col-lg-4">
					<% for(let i=0; i<product.coments.length; i++) {%>
					<section class="comments">
						<article>
							<img src="/images/users/<%=product.coments[i].user.userimg%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/<%=product.coments[i].user.id %>"><%=product.coments[i].user.username%></a>: </strong>
								 <%=product.coments[i].textoComentario%></p>
							</div>
						</article>
					</section>
					<%}%> 
					
					<form class="form" action="/product/comment/<%= product.id%>" method="POST">
						<input name="textoComentario" class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">ADD COMMENT</button>
					</form>
					<hr>
					
				</div>
			</div>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>	
</html>